#wrapper {
    width: 550px;
    position: absolute;
    left: 50%;
    margin-left: -275px;
    margin-top: 50px;
}

.header {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 18px;
    color: #3f3f66;
    margin-bottom: 15px;
}

.data-form {
    border: 1px solid #bec8d2;
    border-radius: 5px;
    background-color: #f2f4f8;
}

.data-form .content {
    padding: 15px 30px 15px 30px;
}

.data-form .content label {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #039;
}

.data-form .content .input {
    width: 100%;
    padding: 2px 15px;
    margin-bottom: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
}

.data-form .content .input:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.data-form .content select {
    width: 100%;
    padding: 2px 15px;
    margin-bottom: 15px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    text-align: center;

    background: #fff;
    border: 1px solid #6678b1;
}

.data-form .content select:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.data-form .content .input[type="button"] {
    float: right;
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    width: 100px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.data-form .content .input[type="button"]:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

#errorText {
    font-size: 14px;
    color: #ea3428;
}