* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgba(251, 251, 251, 0.72);
    text-align: left;
}

#wrapper {
    width: 350px;
    height: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -175px;
}

.login-form {
    width: 350px;
    margin: 0 auto;
    position: relative;
    z-index: 5;

    border: 1px solid #bec8d2;
    border-radius: 5px;
    background-color: #f2f4f8;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.login-form .header {
    padding: 20px 30px 30px 30px;
}

.login-form .header h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
}

.login-form .header p {
    font-size: 15px;
    text-align: center;
}

.login-form .content {
    padding: 0 30px 15px 30px;
}

.login-form .content .input {
    width: 270px;
    padding: 5px 10px;
    margin-bottom: 15px;
    margin-left: 10px;

    font-size: 16px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
}

.login-form .content .input:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.login-form .content .input:focus {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

#errorTextUserManagement {
    font-size: 14px;
    color: #ea3428;
    margin-left: 10px;
}

.login-form .footer {
    padding: 5px 40px 20px 15px;
    overflow: auto;
}

.login-form .footer .button {
    float: right;
    padding: 5px 10px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.login-form .footer .button:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}
