/* Стили бара для входа / регистрации */
.topBar {
    line-height: 20px;
    background: #eee;
    text-transform: uppercase;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: calibri;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}

.topBar a {
    padding-right: 20px;
    letter-spacing: 0;
    color: #333;
    text-shadow: 0 1px 1px #fff;
    display: block;
    float: left;
}

.topBar a:hover {
    /*background: #fff;*/
}

.topBar span.right {
    float: right;
}

.topBar span.left {
    float: left;
}

.topBar span.right a {
    float: left;
    display: block;
}

.searchBar {
    margin-top: 30px;
    border: 1px solid #c3e5e8;
    border-radius: 1px;
    width: 900px;
    padding: 10px;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.searchBar span {
    margin-left: 15px;
    margin-right: 5px;
}

.searchBar input[type="button"] {
    padding: 5px 10px;
    margin-left: 15px;
    width: 100px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.searchBar input, select {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
    text-align: center;
}