*:focus {
    outline: none;
}

.topBar {
    line-height: 20px;
    background: #f6f8fc;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #3f3f66;
}

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

ul.menu > li {
    float: right;
    position: relative;
}

ul.menu > li > a {
    display: block;
    padding: 5px;
    color: #3f3f66;
    background-color: #f6f8fc;
    text-decoration: none;
    cursor: pointer;
}

ul.menu > li > a:hover {
    background-color: #edeff3;
}

ul.submenu {
    display: none;
    position: absolute;
    left: 0;
    background-color: #f6f8fc;
    border: 1px solid #bec8d2;
    font-size: 12px;
}

ul.submenu > li {
    display: block;
    width: 180px;
    color: #3f3f66;
}

ul.submenu > li > a {
    display: block;
    padding: 10px;
    background-color: #f6f8fc;
    color: #3f3f66;
    text-decoration: none;
}

ul.submenu > li > a:hover {
    background-color: #edeff3
}

ul.submenu > li > a:active {
    color: #3f3f66;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

.searchBar {
    margin-top: 60px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f2f4f8;
    width: 900px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.searchBar span {
    margin-left: 15px;
    margin-right: 5px;
}

.searchBar input[type="button"] {
    padding: 5px 10px;
    margin-left: 45px;
    width: 120px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.searchBar input[type="button"]:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.searchBar input[type="text"] {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
    text-align: center;
}

.searchBar input[type="text"]:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchBar input[type="text"]:focus {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchBar select {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
    text-align: center;
}

.searchBar select:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchResult {
    margin-top: 20px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f6f8fc;
    width: 920px;
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    color: #3f3f66;
}

.searchResult:hover {
    background-color: #edeff3;
}

.searchResult span {
    margin-left: 15px;
}

.searchResult input[type="button"] {
    padding: 5px 10px;
    margin-left: 45px;
    margin-top: 15px;
    width: 120px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.searchResult input[type="button"]:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.searchResult-hotelInformation {
    margin-top: 20px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f6f8fc;
    width: 920px;
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    color: #3f3f66;
}

.searchResult-hotelName {
    width: 320px;
    margin-left: 10px;
    display: inline-block;
    font-size: 20px;
    color: #9b302c;
}

.searchResult-hotelStars {
    width: 160px;
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
    font-size: 15px;
}

.searchResult-hotelCity {
    width: 200px;
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
    font-size: 15px;
    text-align: center;
}

.searchResult-hotelFreeRooms {
    width: 200px;
    display: inline-block;
    margin-top: 4px;
    vertical-align: top;
    font-size: 15px;
    text-align: right;
}

.searchResult-hotelDescription {
    width: 675px;
    margin-top: 5px;
    padding-top: 5px;
    margin-left: 13px;
    margin-right: 10px;
    text-align: justify;
    font-size: 13px;
    white-space: pre-line;
    display: inline-block;
}

.searchResult-main-photo-div {
    width: 200px;
    float: left;
    margin-top: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    flex-grow: 0;
    flex-shrink: 0;
}

.underline {
    margin-left: 10px;
    margin-right: 17px;
    margin-top: 5px;
    border-bottom: 1px solid #bec8d2;
}

.freeRoms {
    margin-top: 20px;
    width: 80%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    border-collapse: collapse;
}

.freeRoms th {
    border-bottom: 1px solid #6678b1;
    border-right: none;
    color: #669;
    padding: 6px 8px;
    vertical-align: top;
}

.freeRoms td {
    border-bottom: 1px solid #6678b1;
    border-right: none;
    color: #669;
    padding: 6px 8px;
    vertical-align: top;
}

#wrap {
    display: none;
    opacity: 0.8;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    background-color: rgba(1, 1, 1, 0.725);
    z-index: 100;
    overflow: auto;
}

#bookingRequestConfirm {
    width: 400px;
    height: 420px;
    margin: auto;
    display: none;
    background: #f2f4f8;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66
}

.bookingRequestLabel {
    border-bottom: 1px solid #3f3f66;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.bookingRequestDetails {
    margin-bottom: 5px;
    font-size: 14px;
}

#bookingRequestConfirm label {
    width: 100px;
    font-size: 14px;
}

#bookingRequestConfirm input[type = "text"] {
    width: 300px;
    padding: 3px 5px;
    margin-bottom: 10px;
    margin-left: 10px;

    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
}

#bookingRequestConfirm input[type = "text"]:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

#bookingRequestConfirm input[type = "text"]:focus {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

#errorTextRequestConfirm {
    font-size: 14px;
    color: #ea3428;
    margin-top: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #3f3f66;
    padding-top: 10px;
    height: 28px;
}

.hotelRequests {
    margin-top: 20px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f6f8fc;
    width: 800px;
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
}

.hotelRequests-hotelName {
    margin-left: 15px;
    width: auto;
    font-size: 20px;
    color: #9b302c;
}

.hotelRequestsList {
    margin-top: 10px;
    margin-left: 35px;
    width: 560px;
    display: inline-block;
}

.hotelRequestsList :hover {
    color: #9b302c;
}

.hotelRequestsList a {
    color: #3f3f66;
}

.hotelRequestStatus {
    width: 150px;
    display: inline-block;
}

.requestManagement {
    margin-top: 20px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f6f8fc;
    width: 600px;
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.requestManagement-number {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    font-size: 20px;
    color: #9b302c;
    border-bottom: 1px solid #bec8d2;
}

.requestManagement-info-label {
    margin-left: 15px;
    margin-top: 10px;
    font-size: 16px;
}

.requestManagement-info-content {
    margin-left: 15px;
    font-size: 14px;
}

.requestManagement-bottom-border {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #bec8d2;
}

.requestManagement button {
    padding: 5px 10px;
    margin-left: 45px;
    margin-top: 20px;
    width: 120px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
}

.requestManagement button:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.photosEdit-main-div {
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f6f8fc;
    width: 85%;
    overflow: auto;

    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.photosEdit-uploaded-photos {
    margin-top: 15px;
    margin-left: 10px;
    max-width: 100%;
}

.photosEdit-label {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 82%;
    display: inline-block;
    font-size: 20px;
    color: #9b302c;
}

.photosEdit-type-label {
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    display: inline-block;
    font-size: 16px;
}

.photosEdit-border-bottom {
    border-bottom: 1px solid #bec8d2;
}

.photosEdit-add_button {
    padding: 5px 10px;
    margin-top: 15px;
    width: auto;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
}

.photosEdit-add_button:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.photosEdit-img-container {
    display: inline-block;
    vertical-align: middle;
    max-width: 300px;
    border: 1px solid #9b302c;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.photosPreview-img-container {
    display: inline-block;
    vertical-align: middle;
    max-width: 100px;
    border: 1px solid #9b302c;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.hotel-photo {
    vertical-align: middle;
    display: inline-block;
    max-height: 100%; /* <-- Set maximum height to 100% of its parent */
    max-width: 100%; /* <-- Set maximum width to 100% of its parent */
}

.hotel-photo:hover {
    box-shadow: 0 0 0 2px #9b302c;
}

.hotel-photo-delete {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 24px;
    height: 24px;
    visibility: hidden;
}

.hotel-photo-delete:hover {
    visibility: visible;
}

.photosEdit-img-container:hover > .fancybox > .hotel-photo {
    box-shadow: 0 0 0 2px #9b302c;
}

.photosEdit-img-container:hover > .hotel-photo-delete {
    visibility: visible;
}

.file_upload {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    height: 2em;
    line-height: 2em;
    margin-bottom: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66
}

.file_upload .button, .file_upload > mark {
    display: block;
    cursor: pointer;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66
}

.file_upload .button {
    float: right;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 6em;
    height: 100%;
    text-align: center
}

.file_upload > mark {
    background: transparent;
    padding-left: 1em
}

@media only screen and ( max-width: 500px ) {

    .file_upload > mark {
        display: none
    }

    .file_upload .button {
        width: 100%
    }
}

.file_upload input[type=file] {
    position: absolute;
    top: 0;
    opacity: 0
}

.file_upload {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s linear
}

.file_upload.focus {
    box-shadow: 0 0 5px rgba(0, 30, 255, 0.4)
}

.file_upload .button {
    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 2px;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis
}

.file_upload:hover .button {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.file_upload:active .button {
    background: #9b302c;
    border: 1px solid #9b302c;
}

#uploadPhotos-div {
    width: 600px;
    max-height: 60%;
    margin: auto;
    display: none;
    background: #f2f4f8;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
    overflow: auto;
}

#uploadMainPhoto-div {
    width: 600px;
    height: 200px;
    margin: auto;
    display: none;
    background: #f2f4f8;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

#viewPhotos-div {
    max-height: 60%;
    max-width: 60%;
    margin: auto;
    display: none;
    background: #f2f4f8;
    z-index: 200;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 16px;
}

