.topBar {
    line-height: 20px;
    background: #eee;
    text-transform: uppercase;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: calibri, serif;
    font-weight: normal;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
    -webkit-animation: slideOut 0.5s ease-in-out 0.3s backwards;
}

.topBar a {
    padding-right: 20px;
    letter-spacing: 0;
    color: #333;
    text-shadow: 0 1px 1px #fff;
    display: block;
    float: left;
}

.topBar span.right {
    float: right;
}

.topBar span.left {
    float: left;
}

.topBar span.right a {
    float: left;
    display: block;
}

.searchBar {
    margin-top: 40px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    background-color: #f2f4f8;
    width: 900px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    color: #3f3f66;
}

.searchBar span {
    margin-left: 15px;
    margin-right: 5px;
}

.searchBar input[type="button"] {
    padding: 5px 10px;
    margin-left: 45px;
    width: 120px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.searchBar input[type="button"]:hover {
    background: #9b302c;
    border: 1px solid #9b302c;
}

.searchBar input {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
    text-align: center;
}

.searchBar select {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    color: #3f3f66;
    background: #fff;
    border: 1px solid #6678b1;
    text-align: center;
}

.searchBar input:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchBar select:hover {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchBar input:focus {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchBar select:focus {
    border: 1px solid #9b302c;
    box-shadow: 0 0 0 1px #9b302c;
}

.searchResult {
    margin-top: 20px;
    border: 1px solid #bec8d2;
    border-radius: 3px;
    width: 920px;
    overflow: auto;
    padding-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    color: #3f3f66;
}

.searchResult:hover {
    background-color: #f2f4f8;
}

.searchResult span {
    margin-left: 15px;
}

.searchResult input[type="button"] {
    padding: 5px 10px;
    margin-left: 45px;
    margin-top: 15px;
    width: 120px;

    background: #6678b1;
    border: 1px solid #6678b1;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.freeRoms {
    margin-top: 20px;
    width: 80%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 12px;
    border-collapse: collapse;
}

.freeRoms th {
    border-bottom: 1px solid #6678b1;
    border-right: none;
    color: #669;
    padding: 6px 8px;
    vertical-align: top;
}

.freeRoms td {
    border-bottom: 1px solid #6678b1;
    border-right: none;
    color: #669;
    padding: 6px 8px;
    vertical-align: top;
}